* {
  box-sizing: border-box;
}

input[type=text],input[type=number], select, textarea,input[type=date], input[type=datetime-local]{
  width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover { background-color: #45a049; }

hr{ border : 5px solid gray; }